<!DOCTYPE html>
<html lang="en" style="display: flex; flex-direction: column; min-height: 100vh;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="/css/styles.css" rel="stylesheet">
  <!--link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"-->
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body style="height: 100%">
  <header class="navbar bg-primary p-2" style="min-height: 52px">
    
    <section class="navbar-section">
      <a href="/" class="navbar-brand mr-2" style="color: #fff">Micronutrient Action Policy Support</a>
    </section>
    <section class="navbar-section">
      <a href="/" class="btn btn-link text-gray">Home</a>
      <a href="/about/" class="btn btn-link text-gray">About MAPS</a>
      <a href="/co-design/" class="btn btn-link text-gray">Co-Design</a>
    </section>
  </header>

  <main class="container grid-xl">
    <section class="columns" style="margin-top: 2em">
      {{ content | safe }}
    </section>
  </main>

  <footer class="navbar bg-dark p-2" style="min-height: 40px">
    <section class="navbar-section text-right">
      &copy; Micronutrient Action Policy Support 2020
    </section>
  </footer>
</body>

</html>